// Буду оставлять тут коменты какие переменные нужны, что нужно для работы проекта
// Нужен будет когда мы будем делать репозиторий публичным чтобы люди понимали
// Как работает, запускается наш проект, у себя создайте .env и заполните поля которые пустые
DB_HOST=localhost
DB_PORT=5432
DB_USER=gamematch_user
DB_PASSWORD=
DB_NAME=gamematch_db
DB_SSLmode=disable